# 参考自 https://learn.microsoft.com/zh-cn/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options

root = true

[*]
indent_style = space
charset = utf-8

[*.cs]
indent_size = 4
tab_width = 4
# if (...) {
#     ...
# }
csharp_new_line_before_open_brace = none
# if (...) {
#     ...
# } else {
#     ...
# }
csharp_new_line_before_else = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# }
csharp_new_line_before_catch = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# } finally {
#     ...
# }
